body {
    background-color: #000;
    font-family: 'PT Sans', 'Verdana','Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h2 {
    font-size: 1.1em;
    color: #ff0;
    margin: 0;
    margin-bottom: 0px;
    margin-top: 8px;
}

#title {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 8px;
    text-align: center;
    z-index: 10;
    font-size: 2.0em;
    color: #0f0;
    pointer-events: none;
}

#overlay {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 40px;
    background: rgba(200,200,200,0.1);
    text-align: center;
    z-index: 10;
    font-size: 2.0em;
    color: #ff0;
    pointer-events: none;
}
