body {
    background-color: #000;
    font-family: 'PT Sans', 'Verdana','Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    color: orange;
    text-decoration: none;
}

i {
    color: #9a9;
}

strong {
    color: #ff0;
}

h2 {
    font-size: 1.1em;
    color: #ff0;
    margin: 0;
    margin-bottom: 0px;
    margin-top: 8px;
}

#title {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 8px;
    text-align: center;
    z-index: 10;
    font-size: 2.0em;
    color: rgba(0,255,0,0.8);
    pointer-events: none;
}

#about_box_bkg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1900;
    background-color: rgba(100,100,100,0.6);
    pointer-events: none;
}

#about_box {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -200px;
    overflow: hidden;
    padding: 18px;
    color: #fff;
    text-align: justify;
    font-size: 0.9em;
    z-index: 2000;
    background-color: rgba(100,100,100,0.7);
    border-radius: 10px;
    border: black 2px solid;
    pointer-events: none;
}

#loading_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #aa99aa;
    z-index: 3000;
}

#loading_overlay_img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: block;
    z-index: 3001;
}

#close_button_top {
    position: absolute;
    right: 8px;
    top: 8px;
    overflow: hidden;
}

.hide {
    opacity: 0;
    transition: opacity .5s ease-out;
}

.show {
    opacity: 1;
    transition: opacity .5s ease-out;
}