body {
  background-color: #333;
  font-family: 'PT Sans', 'Verdana','Open Sans', sans-serif;
  font-size: 1.2em;
  color: #ff0;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
a {
  color:orange;
  text-decoration:none;
}
i {
  color: #9a9;
}
strong {
  color: #ff0;
}
h2 {
 font-size: 1.1em;
  color: #ff0;
  margin: 0;
  margin-bottom: 0px;
  margin-top: 8px;
}
ul {
  margin:0;
}
#loading_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #6666aa;
  z-index: 1000;
}

#title {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.0em;
  width: 300px;
  height: 1.2em;
  display: block;
  background-color: rgba(128, 128, 128,0.5);
  z-index: 700;
}

#loading_overlay_img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -200px;
  display: block;
  z-index: 1001;
}

#loading_overlay_text {
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 10%;
  line-height: 20px;
  font-size: 2em;
  color: #aaa;
}

#drawer_toggle_button {
  position: absolute;
  right: 8px;
  top: 12px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0;
  background-color: rgba(0.0,0.0,0.0,0.0);
}

#help_button {
  position: absolute;
  right: 152px;
  top: 8px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0;
  background-color: rgba(0.0,0.0,0.0,0.0);
}

#ui_full_screen_button {
  position: absolute;
  right: 60px;
  top: 8px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0;
  background-color: rgba(0.0,0.0,0.0,0.0);
}

#ui_save_url_button {
  position: absolute;
  right: 104px;
  top: 8px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0;
  background-color: rgba(0.0,0.0,0.0,0.0);
}

#settings_container {
  position: absolute;
  left: 8px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  background-color: #333;
}

#photo_container {
  position: absolute;
  width: 600px;
  bottom: 0;
  right: 0px;
  overflow: hidden;
  height: 0;
  background-color: #333;
}

#photo_label {
  position: absolute;
  width: 600px;
  top: 0;
  right: 0px;
  overflow: hidden;
  background-color: rgba(200, 200, 200, 0.6);
  color: #ff6;
  z-index: 500;
}

img.centered, img.transport {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.photo_transport {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 64px;
  background-color: rgba(200,255,200,0.0);
  z-index: 100;
  opacity: 0.0;
}

.photo_transport:hover {
  background-color: rgba(255,255,255,0.25);
  opacity: 0.7;
}

.trans {
  width: 20%;
  height: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.0);
}

.trans:hover {
  background-color: rgba(255,255,255,0.25);
}

.trans1 {
  left: 0;
}

.trans2 {
  left: 20%;
}

.trans3 {
  left: 40%;
}

.trans4 {
  left: 60%;
}

.trans5 {
  left: 80%;
}
#about_box_bkg {
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  overflow:hidden;
  z-index:1900;
  background-color:rgba(100,100,100,0.7);
  pointer-events:none;
}
#about_box {
  width:1000px;
  height:650px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-500px;
  margin-top:-500px;
  overflow:hidden;
  padding:18px;
  color:#fff;
  text-align:justify;
  z-index:2000;
  background-color:rgba(100,100,100,0.9);
  border-radius:10px;
  font-size:0.70em;
  border:black 2px solid;
  pointer-events:none;
}
#close_button_top {
  position:absolute;
  right:8px;
  top:8px;
  overflow:hidden;
}
#close_button_bottom {
  position:absolute;
  right:8px;
  bottom:8px;
  overflow:hidden;
}
.hide {
  opacity:0;
  transition:opacity .5s ease-out;
}
.show {
  opacity:1;
  transition:opacity .5s ease-out;
}
