body {
    background-color:#000;
    color:#ff0;
    margin:0;
    font-family:Verdana, sans-serif;
    overflow:hidden;
}
a {
    color:orange;
    text-decoration:none;
}
i {
    color: #9a9;
}
strong {
    color:#ff0;
}
#loading{
    position:absolute;
    top:50%;
    width:200px;
    height:200px;
    left:50%;
    margin-left:-200px;
    margin-top:-200px;
    background-color:rgba(0,0,0,0.7);
    border-radius:10px;
    border:5px solid #666;
    overflow:auto;
    pointer-events:none;
    padding:10px;
    -webkit-user-select:none;
    -moz-user-select:none;
}
#loading_text{
    height:200px;
    width:200px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    font-size:2.0em;
}
#map-canvas { position: absolute;
    bottom:8px;
    right:8px;
    width:256px;
    height:256px;
    z-index:10;
}
#about_button {
    position:absolute;
    left:16px;
    top:16px;
    overflow:hidden;
}
#close_button {
    position:absolute;
    right:8px;
    bottom:8px;
    overflow:hidden;
}
#about_box_bkg {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    overflow:hidden;
    z-index:40;
    background-color:rgba(100,100,100,0.7);
    pointer-events:none;
}
#about_box {
    width:800px;
    height:600px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-400px;
    margin-top:-300px;
    overflow:hidden;
    padding:8px;
    color:#fff;
    text-align:justify;
    z-index:100;
    background-color:rgba(100,100,100,0.9);
    border-radius:10px;
    font-size:0.85em;
    border:black 2px solid;
    pointer-events:none;
}
.hide {
    opacity:0;
    transition:opacity .5s ease-out;
}
.show {
    opacity:1;
    transition:opacity .5s ease-out;
}